.circle {
    display: inline-block;
    background-color: white;
    height: 7px;
    width: 7px;
    border-radius: 5px;
  }
  
  .bouncing-ball-download {
  }
  
  #ball-1{
    -webkit-animation-name: bounce;
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
  }
  #ball-2{
    -webkit-animation-name: bounce;
    -webkit-animation-delay: 1.1s;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
  }
  #ball-3{
    -webkit-animation-name: bounce;
    -webkit-animation-delay: 1.2s;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-webkit-keyframes bounce {
    0% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(7px);
    }
    60% {
      transform: translateY(-7px);
    }
    80%{
      transform: translateY(0);
    }
  }